.pdf_section {
    width: 500px;
    margin: 2em auto;
    padding: 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);

    @media screen and (max-width: 524px) {
        width: 380px;
    }
}

.pdf_section h3 {
    margin-bottom: 0.3em;
    color: #37474f;
    font-weight: bold;
    font-size: 23px;
}

.pdf_section h5 {
    margin-bottom: 0.3em;
    color: #37474f;
    font-weight: bold;
    font-size: 17px;
}

.pdf_section h5 span {
    color: #37474f;
    font-weight: 500;
    font-size: 17px;
}

.pdf_section .NItem_NQty {
    color: #37474f;
    font-weight: bold;
    font-size: 17px;
}

.pdf_section .NItem_NQty span {
    color: #37474f;
    font-weight: 500;
    font-size: 17px;
}

.pdf-btn {
    padding: 15px 23px;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #e01a1a;
    border: 1px solid #e01a1a;
    color: #fff;
    border-radius: 15px;
    transition: all .4s;
    margin-top: 30px;

    @media screen and (max-width:480px) {
        padding: 10px 15px;
        font-size: 1rem;
    }
}

.pdf-btn:hover {
    background-color: #fff;
    color: #e01a1a;
    background-position: 83%;

    @media screen and (max-width: 576px) {
        background-position: 88%;
    }
}